@keyframes react-magic-skeleton-pulse {
  0% {
        background-position: 0% 0%;
  }
  100% {
        background-position: -135% 0%;
  }
}

.react-magic-skeleton-loading-block {
    background: #ccc;
    width: 100px;
    height: 10px;
    border-radius: 2px;

    background: linear-gradient(-90deg, #f0f0f0 0%, #f8f8f8 50%, #f0f0f0 100%);
    background-size: 400% 400%;
    animation: react-magic-skeleton-pulse 1.2s ease-in-out infinite;
}

.react-magic-skeleton-loading-block-transparent {
    background: transparent;
    animation: none;
}
